
WeaponData/Swords/4Star/AlleyFlash/AlleyFlashHead.fmt
WeaponData/Swords/4Star/AlleyFlash/AlleyFlashHead.ib
WeaponData/Swords/4Star/AlleyFlash/AlleyFlashHead.vb
WeaponData/Swords/4Star/FavoniusSword/FavoniusSwordHead.fmt
WeaponData/Swords/4Star/FavoniusSword/FavoniusSwordHead.ib
WeaponData/Swords/4Star/FavoniusSword/FavoniusSwordHead.vb
PlayerCharacterData/Ayaka.rar
